$background-white: #f9f8f4;
$background-grey: #f1f1ed;
$background-grey: #edf1ed;
$background-yellow: #ffea0049;
$primary-color: #ffdc00;
$secondary-color: #ebd338;
$tertiary-color: #c5ab00;
$light-primary-color: #f0f0de;
$heading-color: #000000b3;
$text-color: #242525;
$darker-white: #999999;
$light-grey: #d6d6d6;
$medium-grey: #ababab;
$dark-grey: #444242;
$another-grey: #636363;
$darker-background-green: #e2e2db;
